:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body, html, main, h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

.blue{
  color: blue;
}

.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 16px;
}

.font-large {
  font-size: 20px;
}

.font-xlarge {
  font-size: 24px;
}

.font-xxlarge {
  font-size: 32px;
}

.font-xxxlarge {
  font-size: 48px;
}

.bold{
  font-weight: bold;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

.text-italic{
  font-style: italic;
}

.w100{
  width: 100%;
}
.h100{
  height: 100%;
}

.white{
  color: white;
}
.black{
  color: black;
}

.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}

.wrapper{
  max-width: 1250px;
  margin: 0 auto;
}
.top-space{
  height: 150px;
}


.mtop10{
  margin-top: 10px;
}

.mtop20{
  margin-top: 20px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
