.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(40, 0, 115), rgb(110, 0, 96));
    backdrop-filter: blur(10px);
    padding: 20px;

    h1 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 125px;
        position: relative;
        /* animation: text-shadow-drop-center 5s ease-in-out infinite alternate both; */
    }

    @supports(-webkit-text-stroke: 5px white) {
        h1 {
            color: transparent;
            -webkit-text-stroke: 5px white;
        }
    }

}

@keyframes text-shadow-drop-center {
    0% {
        -webkit-text-stroke: 5px rgb(244, 0, 0);
    }
    25% {
        -webkit-text-stroke: 5px rgb(136, 236, 36);
    }
    50% {
        -webkit-text-stroke: 5px rgb(0, 150, 244);
    }
    75% {
        -webkit-text-stroke: 5px rgb(249, 59, 226);
    }
    100% {
        -webkit-text-stroke: 5px white;
    }
}


.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputGroup label {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
}

.inputGroup input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inputGroup input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.subtitle {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.cardContainer {
    display: flex;

    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: auto;
    min-width: 200px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card.selected {
    background: rgba(10, 162, 81, 0.667);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.15);
}

.submitButton {
    background: linear-gradient(135deg, #0076379d, #2500749a);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 1.3s ease;
}

.submitButton:disabled {
    background: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
}

.submitButton:hover:enabled {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #00ff779d, #5100ff9a);
}


.notificationBackground {
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 100px;
    background: rgba(76, 76, 76, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    align-content: center;
    align-items: center;

    transition: all 0.3s ease;

}

.notification {
    position: fixed;
    background: rgba(76, 76, 76, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.redirectButton {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.redirectButton:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}




.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: rgba(255, 255, 255, 0.7);
}





.copyLink {
    color: rgb(220, 220, 220);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.copyLink:hover {
    color: rgb(220, 220, 220, 0.4);
}
