.topSpace {
    height: 60px;
}


#section1 {
    padding: 100px 0;
    background-color: azure;
    transition: background-color 0.5s;


    h1 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 125px;
        position: relative;
        margin-bottom: 80px;
        animation: text-shadow-drop-center 5s ease-in-out infinite alternate both;
    }

    @supports(-webkit-text-stroke: 5px white) {
        h1 {
            color: transparent;
            -webkit-text-stroke: 5px white;
        }
    }


 

}

@keyframes text-shadow-drop-center {
    0% {
        -webkit-text-stroke: 5px rgb(244, 0, 0);
    }
    25%{
        -webkit-text-stroke: 5px rgb(136, 236, 36);
    }
    50%{
        -webkit-text-stroke: 5px rgb(0, 150, 244);
    }
    75%{
        -webkit-text-stroke: 5px rgb(249, 59, 226);
    }
    100% {
        -webkit-text-stroke: 5px white;
    }
}

.playBtn {
    margin: 0 auto;
    width: auto;
    min-width: 200px;
    height: 50px;
    box-shadow: inset 0 1px 0 0 #bee2f9;
    background: linear-gradient(to bottom, #ab50cf 5%, #cf47b4 100%);
    background-color: #ab50cf;
    border-radius: 6px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 6px 24px;
    text-shadow: 0 1px 0 #7cacde;
}

.playBtn:hover {
    background: linear-gradient(to bottom, #cf47b4 5%, #ab50cf 100%);
    background-color: #cf47b4;
}

.playBtn:active {
    position: relative;
    top: 1px;
}

.playBtnDiv {
    display: flex;
    justify-content: center;
}


.gameModeSelector {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.radioGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.radioLabel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 25px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.radioLabel.selected {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-color: var(--button-color);
    box-shadow: 0 4px 15px var(--button-color);
    transition: all 0.5s ease-in-out;
}


.radioInput {
    display: none;
}

.modeText {
    font-weight: bold;
}

.description {
    margin-top: 5px;
    color: #fff;
    transition: opacity 0.3s ease;
}

.radioLabel.selected .description {
    opacity: 1;
}


.descriptionDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    img {
        margin: 30px auto 0;
        width: 70%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.totalUserCount{
    position: absolute;
    right: 10px;
    font-style: italic;
    font-weight: bold;
}
