.chatMessage{
    min-width: 100%;
    position: relative;
    width: -moz-available;
    padding: 5px 0 5px;
    margin: 5px 0 5px;
    background-color: rgba(182, 182, 182, 0.188);
    border: 2px solid rgba(137, 137, 137, 0.284);
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;

    img{
        
        min-width: 40px !important;
        min-height: 40px !important;
        width: 40px;
        height: 40px;
        border-radius: 500px;
        margin: auto 0;
        margin-left: 5px;
        margin-right: 10px;
    }

       
}